<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto angular</title>
    <script type="text/javascript" src="./angular/angular.js"></script>
    <script type="text/javascript" src="./angular/app.js"></script>
  </head>
  <body ng-app="codeAmApp">
    <div ng-controller="luizCtrl">
      <h2>Seu nome é {{name}}</h2>
      <input type="text" ng-model="newName" placeholder="Digite o seu nome!" />
      <button ng-click="habilitaNome(newName)">atualizar nome</button>
    </div>
  </body>
</html>
